[core]
	editor = \"C:\\Users\\Nico\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	email = moi@nikorion.fr
	name = GOYOT Nicolas
[credential "https://git.nikorion.fr"]
	provider = generic
[init]
	defaultBranch = main
